.logo {
  width: 45px;
  height: 45px;
  margin: auto 0px;
}

h2 {
  font-family: playfair-display;
  font-weight: 700;
  
}
h3 {
  font-family: playfair-display;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #2D2D2D;
  
}
.view-all-link {
  /* font-family: playfair-display; */
  font-weight: 400;
  font-style: italic;
  color: #4c4c4c;
  font-size: 14px;
  line-height: 19px;
  height: fit-content;
  margin: auto 0px;
}

/* /////////// */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-s-between {
  justify-content: space-between;
}
.layout {
  padding: 20px 10.20833333333333% 50px ;
}
.outer-layout {
  padding: 0px 10.20833333333333%;
}
.bgwhite {
  background-color: #ffffff;
}
.bgdark {
  background-color: #2d2d2d;
}
.s-padding-tob-bottom {
  padding-top: 0px;
  padding-bottom: 0px;
}

a {
  text-decoration: none;
}
i {
  padding: 2px;
}
i.fa-hotel {
  color: #4c4c4c;
}
i.fa-star {
  color: #e0ad1e;
}
